# Godot specific ignores
godotproject/.godot/
godotproject/.import/
godotproject/export.cfg
godotproject/export_presets.cfg
godotproject/*.translation
godotproject/*.import

# Android Export
godotproject/android/
godotproject/Export/
*.blend1
*.import
*.apk